<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    This used for node-level testing of the roboclaw node.
    It lauches the roboclaw node with stub, and the testing node.
-->
<launch>
 
  
    
    
    <node pkg="diff_drive" type="capulus_teleop" name="capulus_teleop"  output="screen">
    </node>
</launch>
